body {
    background-color: yellow;
}

@media (min-width: 675px) {
    body {
        background-color: gold;
    }
}

@media (min-width: 999px) {
    body {
        background-color: saddlebrown;
    }
}

@media (min-width: 1280px) {
    body {
        background-color: black;
    }
}
